@tailwind base;
@tailwind components;
@tailwind utilities;

/* BodyBackground.css */
.background-animation {
  position: absolute;
 
  top: 0;
  left: 0;
  width: 1500px;
  height: 1500px;
  z-index: -1; /* Make sure the background stays behind other content */
}



#logo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the logo is on top */
}

#logo-container img {
  max-width: 200px; /* Adjust size as needed */
  max-height: 200px; /* Adjust size as needed */
}

#content {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Distribute items evenly */
  padding: 10px 30px; /* Add padding to the navigation bar */
  background-color: rgb(255, 255, 255); /* Set a background color if needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  z-index: 1000; /* Ensure the nav is above other content */
}

.logo img {
  height: 40px; /* Adjust the height of the logo */
  margin-right: 10px; /* Add margin to separate logo from text */
}

.logo span {
  font-weight: bold;
  font-size: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  display: inline-block;
}

nav ul li button {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  font-weight: bold;
  position: relative;
}

nav ul li button:hover {
  background-color: rgb(20, 20, 206);
  color: white;
  border-radius: 10;
}

/* read and write modal */
td {
  border-radius: 5px;
  background-color: rgb(37, 34, 34);
  padding: 1em;
  color: #ffffff;
  margin: 10px;
  border: 5px rgb(255, 255, 255) solid;
}

td:hover {
  background-color: rgb(20, 20, 206);
}

.Modalbtn {
  color: rgb(255, 255, 255);
}

#categories-modal-title {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 122, 255);
  text-align: center;
  border-radius: 20px;
  /* border:2px black solid; */
}

.modal-close-button,
.modal-write-button {
  color: white;
  background-color: rgb(0, 122, 255);
  border: 2px white solid;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-close-button:hover,
.modal-write-button:hover {
  background-color: rgb(20, 20, 206);
}

#modal-close-button {
  color: white;
  background-color: rgb(0, 122, 255);
  cursor: pointer;
  transition: background-color 0.3s;
}

#modal-close-button:hover {
  background-color: rgb(20, 20, 206);
}

/* login and signup modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 400px;
  max-width: 80%;
  outline: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#modal-submit-button {
  background-color: #4CAF50;
  color: white;
}

#modal-submit-button:hover {
  background-color: #439245;
}

.toggle-container {
  margin-top: 10px;
  text-align: center;
}

#toggle-button {
  color: rgb(0, 122, 255);
  border: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}

#toggle-button:hover {
  color: rgb(20, 20, 206);
}

/* about us section */
.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 80px; 
 
}

.about-us-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
}

.about-us-image {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 8px;
  object-fit: cover;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us-content h2 {
  margin: 0 0 10px 0;
}

.about-us-content p,
.about-us-content ul {
  margin: 0;
}

.about-us-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about-us-content li {
  margin-bottom: 10px;
}
/* new introduction styling */
.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 80px;
}

.intro-icon {
  display: flex;
  justify-content: center;
  height: 300px;
  margin-right: 20px;
}

.section-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.section-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: rgb(0, 122, 255);
  color: white;
  border-radius: 5px;
}

.section-buttons button.active {
  background-color: rgb(20, 20, 206);
}
/* 
.about-us-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
} */

.about-us-content {
  display: flex;
  flex-direction: row; /* Change to row to align items horizontally */
  align-items: center;
}

.about-us-heading {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.introduction-content {
  display: flex;
  align-items: center;
}

#introduction-text {
  font-size: 1.1em;
  line-height: 1.6;
  text-align: left;
  max-width: 600px;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
}

.highlight {
  font-weight: bold;
  color: #007AFF;
}


/* Write Story Section */
.write-story-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
}

.header-title {
  text-align: left; /* Align text to the left */
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(0, 0, 0);
  position: relative;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;

}

.header-title span {
  display: inline-block;
}

.blink-caret {
  font-weight: 100;
  font-size: 1.2em;
  color: orange;
  -webkit-animation: blink 0.7s step-end infinite;
  -moz-animation: blink 0.7s step-end infinite;
  -ms-animation: blink 0.7s step-end infinite;
  -o-animation: blink 0.7s step-end infinite;
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.form-block {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 500px;
}

.category-text {
  font-weight: bold;
  margin-bottom: 20px;
}

.category-value {
  color: rgb(0, 122, 255);
}

.form-group {
  margin-bottom: 20px;
}

.title-field, .description-field {
  background-color: #fafafa;
}

.content-block {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.content-field {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  min-height: 500px;
}

.submit-button {
  display: block;
  width: 15%;
  padding: 15px;
  background-color:rgb(0, 122, 255);
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.submit-button:hover {
  background-color:rgb(20, 20, 206);
}

/* about us read and write */
.services-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.service-card {
  width: 500px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #edebeb;
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.write-icon, .read-icon {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 200px;
}

.service-card h3 {
  font-size: 1.5em; 
  color: #007bff; 
  font-weight: bold;
}

.service-card p {
  font-size: 1.1em;
  color: #000000;
}

.write-description, .read-description {
  font-size: 1.2em;
  color: #333;
  line-height: 1.6;
}

.service-card:hover {
  transform: scale(1.05); 
  background-color: #000; /* Change background color on hover */
}

.service-card:hover h3 {
  color: #007bff; /* Blue color for h3 */
}

.service-card:hover .question {
  color: white; /* Grey color for question */
}

.service-card:hover .answer {
  color: #aaaaaa; /* White color for answer */
  opacity: 0.8; /* Adjust opacity for better readability */
}


/* Apply styles to questions and answers */
.service-card .question {
  margin-bottom: 10px; 
  font-weight: bold; 
  color: #000000;
}

/* Initial state for answer: hidden */
.service-card .answer {
  display: none;
  color: rgb(0, 0, 0);
  opacity: 0;
  font-size: 1em;
  transition: opacity 0.3s ease;
}

/* Answer animation */
@keyframes showAnswer {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* JavaScript controlled class to show answer */
.show-answer .answer {
  display: block;
  animation: showAnswer 3.5s forwards;
}



#WriteServiceButton,#ReadServiceButton{
  display: block;
  background-color: #007bff;
  color: rgb(0, 0, 0);
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  border-radius: 16px;
  width: 100px;
  height: 50px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  font-weight: bold;
  position: relative;
}
#WriteServiceButton:hover {
  background-color: rgb(20, 20, 206);
  color: white;
  border-radius: 10;
}
#ReadServiceButton:hover {
  background-color: rgb(20, 20, 206);
  color: white;
  border-radius: 10;
}




/* team section */
.team-section {
  text-align: center;
  margin-bottom: 40px;
  background-color: #f9f9f9;
  
}

.team-section-heading{
  font-size: 2em;
  font-weight: bold;
  color: #000000;
}

.image-description-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-width: 1200px;
  background-color: #d2d1d1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px; /* Added margin-bottom for spacing */
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}


.team-card {
  position: relative;
  width: 220px;
  padding: 20px;
  background-color: #d2d1d1;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.team-card:hover {
  transform: scale(1.05);
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
}

.team-image-container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
}


.team-info {
  margin-top: 10px;
  color: #000000;
  
}

.team-info h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
}

.team-info p {
  margin: 0 0 10px;
  font-size: 14px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-links a {
  color: #000000;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #1DA1F2; /* Adjust the color to match the icon's brand color */
}



.team-section-description {
  flex: 1;
  padding-right: 20px; /* Space between description and image */
  font-weight: bold;
  color: #000000;
}

.team-section-description  p {
  font-size: 1em;
  color: #000000;
  line-height: 1.5;
}

.team-icon {
  width: 200px;
  height: 200;
  border-radius: 8px;
  /* object-fit: cover; */
  margin-left: 20px; /* Space between image and description */
}



/* get involved and contact us  */

form {
  margin-bottom: 20px;
}

input[type="email"],
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}




.community-links {
  display: flex;
}

.community-links a {
  display: inline-block;
  margin-right: 10px;
}

.community-links img {
  width: 40px; /* Adjust icon size as needed */
  height: 40px; /* Adjust icon size as needed */
}



/* read stories */
.story-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  padding: 20px;
  transition: transform 0.3s;
  overflow: hidden;
  margin: 10px auto; /* Center the card */
}

.story-card:hover {
  transform: scale(1.02);
}

.story-image-container {
  flex-shrink: 0;
  width: 150px; /* Adjust width as needed */
  height: 150px; /* Adjust height as needed */
  margin-left: 20px; /* Move image to the right */
  margin-right: 20px; /* Add spacing between image and content */
  overflow: hidden;
  border-radius: 10px;
}

.story-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.story-category, .story-author, .story-title, .story-description {
  margin: 0;
}

.story-title {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.story-title:hover {
  text-decoration: underline;
}

.story-description {
  color: #333;
}
.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
