@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  margin: 0;
  padding: 10;
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  
}


/* Hide Profile option by default */
.profile {
  display: none;
}
