@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  margin: 0;
  padding: 10;
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  
}
#logo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Set your background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the logo is on top */
}

#logo-container img {
  max-width: 200px; /* Adjust size as needed */
  max-height: 200px; /* Adjust size as needed */
}

#content {
  display: none;
}
nav {
  /* background-color: white; */
  position: fixed;
  top: 0;
  width: 95%;
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Distribute items evenly */
  padding: 10px 30px; /* Add padding to the navigation bar */
}

.logo img {
  height: 40px; /* Adjust the height of the logo */
  margin-right: 10px; /* Add margin to separate logo from text */
}

.logo span {
  font-weight: bold;
  font-size: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  font-weight: bold;
  position: relative;
}

nav ul li a:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Hide Profile option by default */
.profile {
  display: none;
}

.vanta { 
  min-height: 300px;
  color: white;
  padding: 20px;
  font-size: 24px;
}